@media screen and (max-width: 1200px) { 
	header{
		padding:30px 50px;
	}
	header .burger_menu{
		display: block;
		z-index: 1;
	}
	header .logo{
		position: absolute;
    	left: 100px;
	}
	header .overlay{
		height: 100%;
	    width: 0;
	    position: fixed;
	    z-index: 1;
	    left: 0;
	    top: 0;
		justify-content: center;
	    background-color: rgb(0,0,0);
	    background-color: rgba(0,0,0, 0.9);
	    overflow-x: hidden;
	    transition: 0.5s;
	}
	header .overlay .menu{
		flex-direction: column;
		align-items: center;
		justify-content: center; 
	}
	header .overlay .menu a{
		font-size: 18px!important;
		color: #fff!important;
	}
	header .overlay .closebtn{
		display: block;		
	}
	header .overlay button,
	header .overlay .under_a
	{
		display: none;
	}
	header .mob_but{
		display: block!important;
		width: 90px;
		height: 30px;
		font-weight: bold;
		font-size: 10px;
		line-height: 13px;
		letter-spacing: 0.519481px;
		color: #FFFFFF;
		background: linear-gradient(179.04deg, #CC2229 -29.81%, #9F041B 129.89%);
		border-radius: 5px;
		cursor: pointer;
	}
	article .block_1{
		display: flex;
    	flex-flow: column;
    	align-items: center;
    	background-repeat: no-repeat;
    	background-position: right -65px;
		background-image: url('../images/Mask_mini.png')
	}
	article .block_1 h1{
	    max-width: 100%;
		font-size: 24px;
		line-height: 32px;
    	padding: 0px 182px 0 20px;

	}
	article .block_1 img{
		display: none;
	}
	article .block_1 .block_form .right_block {
    	padding-right: 10px;
	}
	article .block_1 .block_form form {
	    display: grid;
	    grid-template-columns: 1fr;
	    grid-template-areas: 
		    "a"
		    "c"
		    "b";
	}
	article .block_1 .block_form .form{
	    grid-template-areas:
		    "inp2 inp4"
		    "inp3 inp3"
		    "inp1 inp1"
		    "btn btn"
		    "sp sp";
	}
	article .block_1 .block_form .block_form_price{
		width:100%;
	    top: -30px;
    	right: 0;
	}
	article .block_1 .block_form .block_form_price .left_block span{
		font-size: 12px;
		line-height: 15px;
	}
	article .block_1 .block_form .block_form_title{
		display: block;
    	padding: 15px 0 25px;
    	font-size: 30px;
		position: static;
		background: transparent;
	}
	article .block_1 .block_form p{
		max-width: 400px;
	}
	article .block_1 .block_form .question{
		margin-bottom: 20px;
	}
	article .block_1 .block_form form button{
		/* width: 312px; */
	}
	article .block_5 .conteiner .left_text{
    	margin: 0 50px;
	}
	article .block_5 h1{
		text-align: center;
	}
	article .block_5 .conteiner {
	    justify-content: center;
	}
	article .block_5 .conteiner .right_text .color_block button span:first-child{
		display: none;
	}
	article .block_5 .conteiner .right_text .color_block button span:nth-child(2){
		display: inline;
	}
	article .block_6{
		padding: 50px 50px 36px;
	}
	article .block_6 .advantages{
		display: flex;
		justify-content: space-around;
		flex-flow: wrap;
	}

	article .block_7 .but,
	article .block_7 .slider_reviews .review:first-child,
	article .block_7 h2{
		display: none;
	}
	article .block_7 .slider_reviews{
		justify-content: center;
	}
	article .block_7 .reviews{
		flex-flow: column;
	}
	article .block_7 .reviews .dots{
		display: flex;
	}
	article .block_7 .reviews .dots span{
		text-align: center;
	}
	footer .header .overlay{
		display: none;
	}
	footer .header{
		border-bottom: : 1px solid #D8D8D8;
	}


}
@media screen and (max-width: 720px){
	header {
    	padding: 30px 20px;
	}
	header .logo {
	    left: 65px;
	}
	article .block_1 .block_form{
		padding: 30px 15px;
	}
	article .block_1 .block_form .left_block {
    	width: 430px;
	}
	article .block_1 ul li {
	    margin-left: 50px;
	}
	article .block_1 .block_form .right_block {
    	padding-right: 10px;
	}
	article .block_1 .block_form .right_block .price{
		font-size: 30px!important;
	}
	article .block_1 .block_form .right_block .under_text{
		font-size: 12px!important;
	}
	article .block_1 .block_form p {
	    font-size: 35px;
	}
	article .block_3{
		margin: 0;
	}
	article .block_3 img{
		display: none
	}
	article .block_3 .content{
		padding-left: 20px;
	}
	article .block_3 img.mob_img{
		display: block;
		position: static;
		margin: -100px 0;
	}
	article .block_3 img.mob_img_bg{
		display: block;
		top: 30px;
		left: 0;
		z-index: -1;
	}
	article .block_2 ul{
		flex-flow: column;
	}
	article .block_2 ul li:nth-child(even){
		transform: rotate(90deg);
		margin: 20px 0;
	}
	article .block_4 .company{
		flex-flow: column;
	}
	article .block_4 .company img{
		margin-bottom: 20px;
	}
}